.jobCard {
  width: 100%;
  max-width: 380px;
  padding: 1.8rem;
  border-radius: 28px;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.06);
  transition: .3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: .6rem;
}

.jobCard:hover {
  transform: translateY(-6px);
  box-shadow: 0px 12px 26px rgba(0, 0, 0, 0.15);
}

/* Header */
.jobCardHeader {
  display: flex;
  align-items: flex-start;
  text-align: left;
  gap: 1rem;
  margin-bottom: .5rem;
}

/* Logo area */
.logoArea {
  width: 60px;
  height: 60px;
  border-radius: 20px;
  background: #f5f6f8;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s ease;
}

.jobCard:hover .logoArea {
  background: #e9ecff;
  display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
}

.jobDescription {
  display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;

}

/* Textos */
.jobTitle {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0;
}

.jobCompany {
  color: #7a7a7a;
  font-size: .9rem;
}

.jobLocation,
.jobType,
.jobSalary {
  color: #555;
  font-size: .95rem;
  margin: 2px 0;
}

/* Botão "Ver mais" */
.applyButton {
  margin-top: .8rem;
  background: transparent;
  border: none;
  color: #1e63ff;
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
  cursor: pointer;
  transition: .3s ease;
}

.applyButton:hover {
  transform: translateX(4px);
  color: #174fcc;
}