/* Banner Section */

.bannerSection {
    text-align: center;
    margin-top: 2%;
    z-index: 1;
    position: relative;
    padding-bottom: 0;
}

.titleBanner {
    font-size: 2.5rem;
    font-weight: 700;
    color: #111;
    line-height: 1.3;
}

.coloredTitle {
    display: block;
    color: #0052cc;
}

.subtitleBanner {
    color: #444;
    font-weight: 400;
    font-size: 1.25rem;
    margin-top: 1rem
}

/* Banner Image */

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    margin-bottom: -3rem;
}

.bannerImage {
    display: block;
    width: 100%;
    max-width: 800px;
    height: auto;
    object-fit: contain;
    position: relative;
    z-index: 2;
}

/* Stats Section */

.statsSection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -8rem;
    position: relative;
    z-index: 999;
}

.statsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: #1e1e1e;
    padding: 2rem 2rem;
    border-radius: 1rem;
    flex-wrap: wrap;
}

.statCard {
    background: #fff;
    border-radius: 12px;
    padding: 3rem 6rem;
    text-align: center;
    min-width: 14rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.statCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.statCardBlue {
    background-color: #0052cc;
    color: #fff;
    border-radius: 12px;
    padding: 3rem 6rem;
    text-align: center;
    min-width: 14rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.statCardBlue:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.statCard h2,
.statCardBlue h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.statCard p,
.statCardBlue p {
    font-size: 0.9rem;
    margin: 0;
}

/* Section 2  */

.callToActionSection {
    z-index: 1;
    position: relative;
    z-index: 0;
    min-height: 52rem;
    margin-top: -6rem;
    padding-top: 6rem;
    border-radius: 52px 52px 0 0;
    overflow: hidden;
    width: 100%;
    height: auto;
    background-color: #EDEBE3;

}

.callToActionContainer {
    text-align: center;
    margin: 2rem 4rem;
    padding: 4rem 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.callToActionTitleArea{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    flex-wrap: nowrap;
}

.callToActionTitle {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    font-size: 2rem;
    font-weight: 700;
    color: #111;
    line-height: 1.3;
}


.callToActionDescription{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    font-size: 1.2rem;
    color: #444;
    font-weight: 400;
    line-height: 1.5;
}




@media (max-width: 768px) {
    .bannerSection h1 {
        font-size: 1.5rem;
    }

    .statsSection {
        flex-direction: column;
        gap: 15px;
    }

    .statCard,
    .statCardBlue {
        width: 80%;
    }
}